@mixin flex($fd: row, $jc: space-between, $ai: center) {
  display: flex;
  flex-direction: $fd;
  flex-wrap: nowrap;
  justify-content: $jc;
  align-items: $ai;
}

@mixin grid() {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: space-between;
  grid-gap: 3em;
  align-items: center;
}

// border radious
$borderRadious: 10px;

$linearGradient: linear-gradient(45deg, rgba(35, 35, 245, 0.8), rgba(228, 37, 164, 0.8));
