@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  border: none;
  outline: none;
}

*::first-letter {
  text-transform: uppercase;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8;
  overflow-x: hidden;
  color: #2f2f2e;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  font-size: 1.125rem;
  text-transform: capitalize;
  background-color: #ffb00d;
  color: #fff;
  padding: 0.4em 1.5em;
  margin-top: 2em;
  border-radius: 5px;
  cursor: pointer !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: #000;
}

section {
  padding-block: 4em;
}

.main-title {
  font-weight: 700;
  font-size: 2.625rem;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
  line-height: 1;
}

.title {
  font-weight: 700;
  font-size: 1.5rem;
  font-family: "Bebas Neue", cursive;
}

.subtitle {
  font-size: 1.125rem;
  font-weight: 600;
  font-family: "Bebas Neue", cursive;
}

.body-text {
  font-size: 1rem;
  margin-top: 1em;
  color: #808080;
}

.container {
  width: 80%;
  max-width: 1920px;
  margin: 0 auto;
}

#showcase {
  position: relative;
  height: 100vh;
}

#showcase #header {
  height: 70px;
  position: relative;
  z-index: 99999;
}

#showcase #header .container {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#showcase #header .logo h1 {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffb00d;
  line-height: 1;
}

#showcase #header .logo h1 span {
  color: #f1f0f1;
}

#showcase #header .nav {
  margin-left: auto;
  margin-right: 2em;
}

#showcase #header .nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#showcase #header .nav .nav-list li:not(:last-child) {
  margin-right: 2em;
}

#showcase #header .nav .nav-list li a {
  color: #f1f0f1;
  font-size: 1.125rem;
  font-weight: 300;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#showcase #header .nav .nav-list li a.active {
  color: #ffb00d;
}

#showcase #header .nav .nav-list li a:hover {
  color: #ffb00d;
}

#showcase #header .cart-container {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#showcase #header .cart-container .fa-cart-plus {
  font-size: 1.25rem;
  color: #f1f0f1;
}

#showcase #header .cart-container .cart-itmes {
  position: absolute;
  top: -10px;
  left: 80%;
  background-color: #ffb00d;
  height: 18px;
  width: 18px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  line-height: 0;
  border-radius: 5px;
  font-size: 14px;
}

#showcase #header .toggle-btn {
  cursor: pointer;
  display: none;
}

#showcase #header .toggle-btn span {
  display: inline-block;
  height: 2px;
  width: 20px;
  background-color: #000;
  -webkit-transform-origin: 20px;
          transform-origin: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#showcase #header .toggle-btn span:not(:last-child) {
  margin-bottom: 5px;
}

#showcase #header .toggle-btn.active span:nth-child(1) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#showcase #header .toggle-btn.active span:nth-child(2) {
  opacity: 0;
}

#showcase #header .toggle-btn.active span:nth-child(3) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#showcase #header.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #000;
}

#showcase .slides {
  padding: 0;
  position: absolute;
  inset: 0;
  z-index: 1;
}

#showcase .slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#showcase .slide img {
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

#showcase .slide .content {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 35vh 10%;
  z-index: 20;
}

#showcase .slide .content .title,
#showcase .slide .content .body-text {
  color: #f1f0f1;
}

#showcase .slide .content .title {
  font-size: 4rem;
  letter-spacing: 5px;
  line-height: 1;
}

#showcase .slide .content .body-text {
  font-size: 1.125rem;
  margin-top: 1em;
}

#showcase .slide.active {
  opacity: 1;
  pointer-events: auto;
}

#showcase #slide-indicator {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 30;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#showcase #slide-indicator li {
  padding: 0.5em;
  line-height: 0;
  cursor: pointer;
}

#showcase #slide-indicator li.active {
  border: 1px dashed #000;
}

#showcase #slide-indicator span {
  display: inline-block;
  height: 3px;
  width: 100px;
  background-color: #f1f0f1;
}

#featured .featured-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-gap: 3em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#gallery {
  background-color: #f8f8f8;
}

#gallery .gallery-content {
  display: -ms-grid;
  display: grid;
  grid-gap: 2em;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (350px)[2];
      grid-template-rows: repeat(2, 350px);
      grid-template-areas: "first first first second second " "first first first third third ";
}

#gallery .col img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}

#gallery .col:first-child {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: first;
}

#gallery .col:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: second;
}

#gallery .col:last-child {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: third;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 3em;
}

#gallery .col:last-child .main-title,
#gallery .col:last-child .body-text {
  color: #808080;
}

#gallery .col:last-child .main-title span,
#gallery .col:last-child .body-text span {
  display: block;
}

#about .about-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-gap: 3em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .col:first-child {
  position: relative;
  height: 80vh;
  max-width: 90%;
}

#about .col:first-child img {
  position: absolute;
  top: -30px;
  left: 0;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

#about .col:first-child img:first-child {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

#about .col:first-child img:nth-child(2) {
  -webkit-transform: translate(30px, 30px);
          transform: translate(30px, 30px);
}

#about .col:first-child img:last-child {
  -webkit-transform: translate(60px, 60px);
          transform: translate(60px, 60px);
}

#footer {
  background-color: #000;
  padding-block: 3em;
}

#footer .footer-content {
  display: -ms-grid;
  display: grid;
  grid-gap: 2em;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-auto-flow: dense;
      grid-template-areas: "logo desc social";
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#footer .footer-content .logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
}

#footer .footer-content .logo h1 {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffb00d;
}

#footer .footer-content .logo h1 span {
  color: #f1f0f1;
  display: block;
  line-height: 1;
}

#footer .footer-content .body-text {
  color: #808080;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: desc;
  margin-top: 0;
}

#footer .footer-content .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#footer .footer-content .social-icons li:not(:last-child) {
  margin-right: 2em;
}

#footer .footer-content .social-icons li a {
  color: #808080;
  font-size: 1.5rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#footer .footer-content .social-icons li a:hover {
  color: #ffb00d;
}

@media (max-width: 820px) {
  #showcase .logo h1 {
    font-size: 1.25rem !important;
  }
  #showcase .slide .content .title {
    font-size: 2rem;
  }
  #showcase .slide .content .body-text,
  #showcase .slide .content .btn {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  #showcase .slide .content .title {
    font-size: 4rem;
  }
  #showcase .slide .content .body-text,
  #showcase .slide .content .btn {
    font-size: 1.125rem;
  }
}

@media (max-width: 760px) {
  #showcase {
    overflow-x: hidden;
  }
  #showcase #header .logo h1 {
    font-size: 1.5rem !important;
  }
  #showcase #header .nav {
    position: absolute;
    inset: 0;
    padding: 10vh 2em;
    height: 100vh;
    width: 50%;
    background: #000;
    z-index: 1000;
    -webkit-transform: translateX(120%);
            transform: translateX(120%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  #showcase #header .nav.active {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
  #showcase #header .nav-list {
    height: 100%;
    width: 100%;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    gap: 1em;
  }
  #showcase #header .nav-list li {
    margin: 0 !important;
  }
  #showcase #header .cart-container {
    margin-left: auto;
    margin-right: 2.5em;
  }
  #showcase #header .toggle-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 1001;
  }
  #showcase #header .toggle-btn span {
    background-color: #f1f0f1;
  }
  #showcase .slide .content .title {
    font-size: 4rem;
  }
  #showcase .slide .content .body-text,
  #showcase .slide .content .btn {
    font-size: 1.125rem;
  }
  #gallery .gallery-content {
    display: -ms-grid;
    display: grid;
    grid-gap: 2em;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 350px;
        grid-template-rows: 350px;
        grid-template-areas: "first" "second" "third";
  }
  #about .col:first-child {
    max-width: 100%;
    background-color: red;
  }
  #about .col:first-child img {
    inset: 0 !important;
  }
  #about .col:first-child img:first-child {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  #about .col:first-child img:nth-child(2) {
    -webkit-transform: translate(0, -30px);
            transform: translate(0, -30px);
  }
  #about .col:first-child img:last-child {
    -webkit-transform: translate(0, -60px);
            transform: translate(0, -60px);
  }
  #footer .footer-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "logo" "desc" "social";
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  #footer .footer-content .social-icons {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.showcase.products-showcase {
  height: 80vh !important;
}

.showcase.products-showcase .products-hero {
  position: absolute;
  inset: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.showcase.products-showcase .products-hero::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  inset: 0;
  z-index: 2;
}

.showcase.products-showcase .products-hero .main-title {
  color: #f1f0f1;
  position: relative;
  z-index: 20;
}

.showcase.products-showcase .products-hero img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  inset: 0;
  z-index: -1;
}
/*# sourceMappingURL=style.css.map */