// =============== products page

#showcase.products-showcase {
  height: 80vh;
  min-height: 80vh;
  overflow: hidden;

  .products-hero {
    position: absolute;
    inset: 0;
    @include flex(column, center, flex-start);

    &::after {
      content: "";
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      position: absolute;
      inset: 0;
      z-index: 2;
    }

    .main-title {
      color: $light;
      position: relative;
      z-index: 20;
    }

    img {
      height: 100%;
      object-fit: cover;
      object-position: center;
      position: absolute;
      inset: 0;
      z-index: -1;
    }
  }
}

#products {
  .product-items {
    @include grid();
    align-items: stretch;
    padding-top: 3em;
  }

  .card-item {
    border: 1px solid $light;
    overflow: hidden;
    transition: all .5s ease-in-out;

    .product-imgs {
      overflow: hidden;

      img {
        transform: scale(1.01);
        transition: all 1s ease-in-out;
      }
    }

    .product-item-content {
      padding: 1em 2em 2em;

      .title {
        letter-spacing: 3px;
      }

      .item-price {
        color: $yellow;
        font-weight: 500;
        margin-top: 0.5em;
      }

      .add-item {
        margin-top: 1em;
      }
    }

    &:hover {
      box-shadow: 5px 10px 20px -8px rgba(0, 0, 0, 0.3);
      transform: translateY(-8px);

      .product-imgs img {
        transform: scale(1.1);
      }
    }
  }
}

@media (max-width: 760px) {
  #showcase.products-showcase {
    height: 100vh !important;
    min-height: 100vh !important;
    overflow: hidden;
  }
}